* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000000;
}

.site-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  min-width: 300px;
  margin: 0 auto;
  border: 3px solid seagreen;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main {
  width: 100%;
  margin: 5px auto 5px;
  border: 3px dotted red;
  background: #f1f1f1;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 3px dotted red;
  background: #f1f1f1;
}

.header__person-name {
  border: 3px solid skyblue;
}

.header__title {
  border: 3px solid skyblue;
}

.nav {
  border: 3px solid skyblue;
}

.nav__link {
  border: 3px solid skyblue;
}

/*=====================================*/
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid skyblue;
  margin: 10px auto;
  background: #f1f1f1;
}

.about-me__title {
  margin: 5px auto;
  border: 3px solid skyblue;
}

.about-me__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border: 3px solid skyblue;
}

@media (max-width: 600px) {
  .about-me__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid skyblue;
  }
}

.about-me__person-photo {
  margin: 5px;
  border: 3px solid skyblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-me__summary {
  padding: 5px 5px 5px 20px;
  border: 3px solid skyblue;
}

/*======================================*/
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid skyblue;
  margin: 10px auto;
  background: #f1f1f1;
}

.skills__title {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.skills__description {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.skills__table{
  margin: 5px auto;
  width: 50%;
  min-width: 300px;
  border: 3px dashed skyblue;
}

.skills__table td {
  border-collapse: collapse;
  padding: 3px 5px;
}

.skills__table--align-right {
  text-align: right;
}

.skills__table progress {
  width: 70%;
  height: 15px;
  color: #3fb6b2;
  background: #efefef;
}

.skills__table progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 5px;
}

.skills__table progress::-webkit-progress-value {
  background: skyblue;
}
/*======================================*/

.education {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid skyblue;
  margin: 10px auto;
  background: #f1f1f1;
}

.education__title {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.education__description {
  margin: 5px auto;
  border: 3px solid skyblue;
}

.education__education-list{
  margin: 5px auto 0;
  padding: 0;
  border: 3px solid skyblue;
}

.education__education-list li{
  list-style-type: none;
  text-align: center;
}

.education__education-list li:first-child{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/*======================================*/


.code-examples {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid skyblue;
  margin: 10px auto;
  background: #f1f1f1;
}

.code-examples__title {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.code-examples__description {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.code-examples a {
  margin: 5px auto;
  border: 3px solid skyblue;
}
/*======================================*/

.english-level {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid skyblue;
  margin: 10px auto;
  background: #f1f1f1;
}

.english-level__title {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.english-level h3 {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.english-level__description {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.english-level img {
  margin: 5px auto;
  border: 3px solid skyblue;
}

/*======================================*/

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid skyblue;
}

.contacts__title {
  margin: 5px auto 0;
  border: 3px solid skyblue;
}

.contacts__social {
  margin: 5px auto;
  border: 3px solid skyblue;
}

.contacts__social-link {
  border: 3px solid skyblue;
}

.footer__copyright {
  border: 3px solid skyblue;
}

.footer__copyright--content-center {
  border: 3px solid skyblue;
}
